.admin {
    background-color: lightgrey;
    margin: 5%;
}
.admin__header {
    display: flex;
    gap: 3em;
    padding: 10px 0;
    background-color: white;
}
.admin__header img {
    width: 150px;
}
.admin__left {
    /* border: 1px solid gray; */
    width: 25%;
    height: 100vh;
    background-color: white;
    padding-top: 20px;
}
.admin__btn {
    padding: 8px 0;
    cursor: pointer;
}